<!DOCTYPE html>
<html>
<head>
<style>
html {
 background-color: #0c0954;
}
head {
  font-family: impact;
  color: orange;
}
body {
  font-family: helvetica;
  color: violet;
}
h1 {
  font-family: impact;
  color: orange;
}
h2 {
  font-family: times;
  color: yellow;
}
p {
 font-family: helvetica;
 color: white;
}
</style>
</head>
</html>
