<!DOCTYPE html>
<html>
<style>
h1 {
  font-family: Times;
  color: black;
}
html {
 background-color: #83b5f5;
}
h2 {
  font-family: Times;
  color: black;
}
p {
 font-family: helvetica;
 color: white;
}
</style>
</html>
